@{
    Layout = "_LayoutAdmin";
}

<h2 class="text-center">Product List</h2>


<button id="Add Product" type="button" class="btn btn-primary marginleft" value="Admin" onclick="location.href='/Home/Addproduct'"><span class="glyphicon glyphicon-plus"></span> New Product</button><br> <br>
<div class="margin">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      @{  var count = 0; 
          var items = ViewBag.items;

          foreach(var product in items) {
            count++;
    <tr>
      <th>@count</th>
      <td>@product.title</td>
      <td><img style="width:70px" src=@product.image></td>
      <td>@product.desc</td>
      <td>@product.price</td>
      <td><button id="upd-@product.id" type="button" class="btn btn-success" value="update" onclick="javascript:edit(this)"><span class="glyphicon glyphicon-edit"></span></button></td>
      <td><button id="rem-@product.id" type="button" class="btn btn-danger" value="remove" onclick="javascript:remove(this)"><span class="glyphicon glyphicon-trash"></span></button></td>
    </tr> }
      }
</table> </div> 

@section Scripts
  {
  <script type="text/javascript">
    $(document).ready(function () {
      let username = '@ViewBag.account';
      console.log(username);
      if(username != 0)
      Cookies.set('username', username);
    });

function edit(btn)
{
    var id = btn.id;
    id = id.substring(4,id.Length);
    location.href='/Home/Editform?id='+id;
}

function remove(btn) {
    var id = btn.id;
    id = id.substring(4,id.Length);
    location.href='/Home/RemoveProduct?id='+id;
}

  })
</script>
}