@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: #191716;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }

    .margin{
      margin-top: 75px;
      margin-bottom: 75px;
      margin-right: 75px;
      margin-left: 75px;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Admin</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/Home/AdminPage/">Manage Product</a></li>
        <li><a href="/Home/Csv/">Export/Import CSV</a></li>
        <li><a href="/Home/TransactionList/">Transaction</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
         <li><a href="/Admin/Logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<h2 class="text-center">Transaction Success</h2>
<h4 class="text-center" style="color:#858585">History</h4>

<div class="margin">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Customer</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Total Purchase</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
      @{  var count = 0; 
          var items = ViewBag.items;
          foreach(var trx in items) {
            count++;
    <tr>
      <th>@count</th>
      <td>@trx.nama</td>
      <td>@trx.email</td>
      <td>@trx.phone_number</td>
      <td>@trx.totalPurchase</td>
      <td>@trx.payment_method</td>
      <td>@trx.Zipcode</td>
      <td>@trx.address</td>
    </tr> }
      }
</table> </div> 
         <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Bellroy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </body>
    </html>